body{
}

[class*="col-"], .col{
   color: white;
   border: 1px solid white;
   padding: 10px;
}
[class*="col-offset-"]{
   background-color: white;
}
.row{
   background-color: dodgerblue;
   /* border: 1px solid white; */
}
